.idea
/docker-data/mysql/*
/docker-data/index/*
/docker-data/centrifugo/*
/docker-data/redis/*
/node_modules
/public/css/pages
/public/css/themes
/public/media
/public/plugins
.phpstorm.meta.php
/storage/*.key
/storage/clockwork
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.DS_Store
/docker-data/.DS_Store
/docker/local/nginx/nginx.conf
